.user {
  border-radius: 50%;
  display: inline-block;
  padding: @espaco-padrao;
  position: absolute;

  p {
    color: #fff;
  }

  // .animated
}

.typing {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}